<!doctype html>
<html lang="en">
<head>
    <link rel="import" href="head.htm">
    <title>Adversary - Fate Character Sheet</title>
</head>
<body>
    <nav></nav>

    <div class="container-fluid mt-2">
        <!-- list of adversaries -->
        <div class='js-adversary-list'>
          <button type="button" class="btn btn-secondary js-create-adversary mb-2 d-print-none requires-auth hidden">Create Adversary <i class='fa fa-plus'></i></button>

          <div class='card-columns' id="adversaryDetail">
          </div>
        </div>

        <!-- adversary edit form -->
        <form id="adversaryForm" class='hidden'>
            <div class="row">
                <input type="hidden" name="adversary_id" id="adversary_id" />
                <input type="hidden" name="adversary_owner_id" id="adversary_owner_id" />
                <div class="col-sm-12 col-md-8">
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Name</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" type="text" value="" id="adversary_name" name="adversary_name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">High Concept</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" type="hidden" name="adversary_aspects[name]" id="adversary_aspects[name]" data-name="high_concept" value="high_concept" >
                            <input class="form-control" type="text" value="" name="adversary_aspects[value]" id="adversary_aspects[value]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Trouble</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" type="hidden" name="adversary_aspects[name]" id="adversary_aspects[name]" data-name="trouble" value="trouble" >
                            <input class="form-control" type="text" value="" name="adversary_aspects[value]" id="adversary_aspects[value]">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Other Aspects</label>
                        <div class="col-sm-12 col-md-10">
                            <input class="form-control" type="hidden" name="adversary_aspects[name]" id="adversary_aspects[name]" data-name="other_aspects" value="other_aspects" >
                            <input class="form-control" type="text" value="" name="adversary_aspects[value]" id="adversary_aspects[value]" placeholder="Aspect1; Aspect2; Aspect3">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Skills</label>
                        <div class="col-sm-12 col-md-10">
                            <div class="row js-adversary-skills">
                                <div class="col-md-7">
                                    <input class="form-control" type="text" value="" name="adversary_skills[name]" id="adversary_skills[name]" placeholder="Skill Name (Average, Good OR Sneaky, Quickly)">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" value="" name="adversary_skills[value]" id="adversary_skills[value]" placeholder="Skill Value (Physique, Fight OR +1, +2)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary js-add-skill">Add Skill <i class='fa fa-plus'></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Stunts</label>
                        <div class="col-sm-12 col-md-10">
                            <div class="row js-adversary-stunts">
                                <div class="col-12">
                                    <input class="form-control" type="text" value="" name="adversary_stunts[name]" id="adversary_stunts[name]" placeholder="Stunt Name">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" type="text" value="" name="adversary_stunts[value]" id="adversary_stunts[value]" placeholder="Stunt Description"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary js-add-stunt">Add Stunt <i class='fa fa-plus'></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Stress</label>
                        <div class="col-sm-12 col-md-10">
                            <div class="row js-adversary-stress">
                                <div class="col-md-7">
                                    <input class="form-control" type="text" value="" name="adversary_stress[name]" id="adversary_stress[name]" placeholder="Stress Name (Physical, Mental, etc)">
                                </div>
                                <div class="col-md-5">
                                    <input class="form-control" type="text" value="" name="adversary_stress[value]" id="adversary_stress[value]" placeholder="Stress Values (1,1,1 OR 1,2,3,4)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary js-add-stress">Add Stress <i class='fa fa-plus'></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="name" class="col-sm-12 col-md-2 col-form-label">Consequences</label>
                        <div class="col-sm-12 col-md-10">
                            <div class="row js-adversary-consequence">
                                <div class="col-12">
                                    <input class="form-control" type="text" value="" name="adversary_consequence[name]" id="adversary_consequence[name]" placeholder="Consequence Name (Mild, Serious, Exhausted)">
                                </div>
                                <div class="col-12">
                                    <textarea class="form-control" type="text" value="" name="adversary_consequence[value]" id="adversary_consequence[value]" placeholder="Consequence Values (Recover, Condition, etc)"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-12 text-right">
                            <button type="button" class="btn btn-primary js-add-consequence">Add Consequence <i class='fa fa-plus'></i></button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adversary_type" class="col-sm-12 col-md-2 col-form-label">Type</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="form-control" name="adversary_system" id="adversary_system">
                                <option>Fate Core</option>
                                <option>Fate Accelerated</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adversary_genre" class="col-sm-12 col-md-2 col-form-label">Genre</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="form-control" name="adversary_genre" id="adversary_genre">
                                <option>Fantasy</option>
                                <option>Modern</option>
                                <option>Sci-Fi</option>
                                <option>Horror</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="adversary_type" class="col-sm-12 col-md-2 col-form-label">Type</label>
                        <div class="col-sm-12 col-md-10">
                            <select class="form-control" name="adversary_type" id="adversary_type">
                                <option>Boss</option>
                                <option>Filler</option>
                                <option>Hitter</option>
                                <option>Threat</option>
                                <option>Other</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary">Save Adversary <i class='fa fa-plus'></i></button>
            <button type="button" class="btn btn-secondary js-close-adversary-edit">Close <i class='fa fa-times-circle'></i></button>
        </form>
        <!-- 3rd party stuff -->
        <div id="fb-root"></div>
    </div>

    <!-- templates -->
    <script id="tmpladversaryDetail" type="text/x-jsrender">
        <div class='card'>

                {{if 1==0}}
                <img class="card-img-top img-fluid img-thumbnail" style="object-fit: cover; object-position:top; max-height: 180px;" src="{{:adversary_image}}" alt="{{:adversary_name}} Image">
                {{/if}}

                <h4 class='card-title'>
                {{:adversary_name}}
                {{:~showOwnerControls(adversary_owner_id, adversary_name)}}
                </h4>

                {{if adversary_aspects}}
                <h5 class='card-header mt-2 py-0'>Aspects</h5>
                {{props adversary_aspects}}
                <p class='card-text px-4 my-0'><strong>{{:~fixLabel(key)}}:</strong> {{:prop}}</p>
                {{/props}}
                {{/if}}

                {{if adversary_skills}}
                <h5 class='card-header mt-2 py-0'>Skills</h5>
                {{props  adversary_skills}}
                <p class='card-text px-4 my-0'>
                    <strong>{{:~fixLabel(key)}}:</strong> {{:prop}}
                </p>
                {{/props }}
                {{/if}}

                <h5 class='card-header mt-2 py-0'>Stress</h5>
                {{props  adversary_stress}}
                <p class='card-text px-4 my-0'><strong>{{:~fixLabel(key)}}:</strong> {{:~stress(prop)}}</p>
                {{/props }}

                {{if adversary_stunts}}
                <h5 class='card-header mt-2 py-0'>Stunts</h5>
                {{props adversary_stunts}}
                <p class='card-text px-4 my-0'><strong>{{:~fixLabel(key)}}:</strong> {{:prop}}</p>
                {{/props}}
                {{/if}}

                <div class='card-footer'>
                    <span class='badge badge-dark js-adversary-tag' data-search-text='{{:adversary_system}}'>{{:adversary_system}}</span>
                    <span class='badge badge-dark js-adversary-tag' data-search-text='{{:adversary_genre}}'>{{:adversary_genre}}</span>
                    <span class='badge badge-dark js-adversary-tag' data-search-text='{{:adversary_type}}'>{{:adversary_type}}</span>
                </div>
            </div>

    </script>


    <!-- frameworks -->
    <!-- js libraries -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/js-signals/1.0.0/js-signals.min.js"
            integrity="sha256-0dCtv3yeJAF9JFjWFykgsLSIf57eXOivm6g0IXU7G7U="
            crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/crossroads/0.12.2/crossroads.min.js"
            integrity="sha256-XCCM82PbbcarXv6mA8f/h3hpRTqkRHtp8NsARui+F80="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hasher/1.2.0/hasher.min.js"
            integrity="sha256-WCd2CSrQrQ8oL0A3k1Umk+rEBBKywafaWMcb6sIHK5U="
            crossorigin="anonymous"></script>

    <script src="https://sdk.amazonaws.com/js/aws-sdk-2.190.0.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"
            integrity="sha256-tSRROoGfGWTveRpDHFiWVz+UXt+xKNe90wwGn25lpw8="
            crossorigin="anonymous"></script>

    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-serialize-object/2.5.0/jquery.serialize-object.min.js"></script>
    <script src="https://cdn.rawgit.com/GreenImp/rpg-dice-roller/aba8ad5f/dice-roller.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.7.1/clipboard.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsrender/0.9.90/jsrender.min.js"></script>


    <script src="fatesheet.js" type="text/javascript"></script>

</body>

</html>
