@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC');

.brand-name {
    font-size: 1.5em;
    background-color: black;
    color: white;
    font-family: 'Bowlby One SC', cursive;
}

@media only screen and (max-width: 640px) {
    .brand-name {
        font-size: 1.00em;
    }
}

@font-face {
    font-family: 'fate_core_glyphsregular';
    src: url('fate_core_font-webfont.woff2') format('woff2'), url('fate_core_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.navbar-brand img {
    max-height: 40px;
}

input::-webkit-input-placeholder {
    color: #C0C0C0 !important;
}

input::-moz-placeholder {
    color: #C0C0C0 !important;
}

input:-moz-placeholder { /* Older versions of Firefox */
    color: #C0C0C0 !important;
}

input:-ms-input-placeholder {
    color: #C0C0C0 !important;
}

textarea::-webkit-input-placeholder {
    color: #C0C0C0 !important;
}

textarea::-moz-placeholder {
    color: #C0C0C0 !important;
}

textarea:-moz-placeholder { /* Older versions of Firefox */
    color: #C0C0C0 !important;
}

textarea:-ms-input-placeholder {
    color: #C0C0C0 !important;
}

.roll-modifier {
    background-color: lightgray;
}

.dice {
    font-family: 'fate_core_glyphsregular';
}

.hidden {
    display: none !important; /* override flex stuff */
}

.current-roll {
    background-color: #ffc107;
}

.modal-header {
    background-color: darkgrey;
}

.modal-title {
    text-transform: uppercase;
    color: white;
}

.roll-20 {
    height: 20px;
}

.js-adversary-tag {
  cursor: pointer;
}

.error {
    text-align:center;
    font-size: 35px;
    margin-top: 100px;
}

/* print styles */
@media print {
    button {
        display: none;
    }

    hr {
        display: none;
    }

    input::-webkit-input-placeholder {
        color: transparent !important;
    }

    input::-moz-placeholder {
        color: transparent !important;
    }

    input:-moz-placeholder { /* Older versions of Firefox */
        color: transparent !important;
    }

    input:-ms-input-placeholder {
        color: transparent !important;
    }

    input:-ms-input-placeholder {
        color: transparent !important;
    }

    textarea::-webkit-input-placeholder {
        color: transparent !important;
    }

    textarea::-moz-placeholder {
        color: transparent !important;
    }

    textarea:-moz-placeholder { /* Older versions of Firefox */
        color: transparent !important;
    }

    textarea:-ms-input-placeholder {
        color: transparent !important;
    }

    textarea:-ms-input-placeholder {
        color: transparent !important;
    }
}
